charset-normalizer==3.4.1

idna==3.10

matplotlib==3.10.0

mealpy==2.4.1

mkl-service==2.4.0

opfunu==1.0.1

PyQt5==5.15.10

requests==2.32.3

setuptools==72.1.0

torch==2.5.1

urllib3==2.3.0

wheel==0.45.1

